<div class="buttons">
	<button mat-flat-button color="primary" (click)="emitUpdateCar()">
		Update
	</button>
	<button mat-flat-button color="primary" (click)="removeCar()">Remove</button>
	<b
		><span class="car-name">{{ car.name }}</span></b
	>
</div>
<div class="buttons">
	<button
		mat-flat-button
		color="primary"
		(click)="startCar()"
		[disabled]="canStart()"
	>
		Start
	</button>
	<button
		mat-flat-button
		color="primary"
		(click)="stopCar()"
		[disabled]="!carStatus()"
	>
		Stop
	</button>
</div>
<div class="road" [style.color]="car.color">
	<div
		raceControlling
		[@moveAnimation]="{
			value: moveAnimations().state,
			params: {
				startX: moveAnimations().start,
				endX: moveAnimations().end,
				duration: moveAnimations().duration
			}
		}"
		[id]="car.id"
		[width]="carWidth"
		[status]="carStatus()"
		[(stopping)]="stoppingStatus"
		[(animation)]="moveAnimations"
	>
		<svg-icon
			src="../../../../../assets/car.svg"
			[svgStyle]="{ 'width.px': carWidth, 'height.px': 50 }"
		/>
	</div>
	<div class="flag" [style.right.px]="carWidth">
		<svg-icon src="../../../../../assets/flag.svg" />
	</div>
</div>
