<form class="flex-block" [formGroup]="createCarForm" (ngSubmit)="createCar()">
	<mat-form-field class="example-full-width">
		<mat-label>car name</mat-label>
		<input matInput formControlName="name" />
	</mat-form-field>
	<mat-form-field class="example-full-width color-field">
		<input matInput type="color" formControlName="color" />
	</mat-form-field>
	<button mat-stroked-button color="primary" [disabled]="createCarForm.invalid">
		Create
	</button>
</form>

<form class="flex-block" [formGroup]="updateCarForm" (ngSubmit)="updateCar()">
	<mat-form-field class="example-full-width">
		<mat-label>car name</mat-label>
		<input matInput formControlName="name" />
	</mat-form-field>
	<mat-form-field class="example-full-width color-field">
		<input matInput type="color" formControlName="color" />
	</mat-form-field>
	<button
		mat-stroked-button
		color="primary"
		[disabled]="updateCarForm.invalid || this.updateCarForm.disabled"
	>
		Update
	</button>
</form>
