@import "./assets/material.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: rgba(67, 64, 70, 0.74);
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

li {
	list-style-type: none;
}

.flex-block {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.header-page {
	text-decoration: underline;
}
